<h2>Details</h2>
<hr>
<h3>Make: <em> <%= @vehicle.make() %></em></h3>
  <h3>Model:<em> <%= @vehicle.model() %></em></h3>
  <h3>Year of manufacture:<em> <%= @vehicle.year() %></em></h3>
  <h3>Color:<em> <%= @vehicle.color() %></em></h3>
  <h3>Engine Size:<em> <%= @vehicle.engine_size() %></em></h3>
  <h3>Number Of Doors:<em> <%= @vehicle.number_of_doors() %></em></h3>

  <a href="/">Home</a>
